header {
  padding: 20px;
  padding-bottom: 0px;
}

#input, #result {
  margin:auto;
  background-color: white;
  width: 80%;
  border: 2px lightgray solid;
  border-radius: 25px;
  padding: 20px;
}

#serachBtn {
  margin: auto;
}

button:active {
  background: #00d1b2;
}

button:focus {
  background: #00d1b2;
}

h2 {
  padding: 20px;
  }

#results-subtitle {
  margin: auto;
  width: 80%;
  padding-bottom: 5px;
}

hr.rounded {
  border-top: 3px solid #bbb;
  border-radius: 5px;
  margin: 0;
}
#destination-results {
  margin-bottom: 0;
  margin-top:0;
}
#return-results {
  margin-bottom: 0;
}

#destination-results p {
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 20px;
}