header {
  padding: 20px;
  padding-bottom: 0px;
}

#input {
  margin:auto;
  background-color: white;
  width: 80%;
  border: 2px lightgray solid;
  border-radius: 25px;
  padding: 20px;
}

#serachBtn {
  margin: auto;
}

h2 {
  padding: 20px;
  }