/* General */
header {
  padding: 20px;
  padding-bottom: 20px;
}

#input,
#result {
  margin: auto;
  background-color: white;
  width: 80%;
  border: 2px lightgray solid;
  border-radius: 25px;
  padding: 20px;
}

/* Search Page */
#search {
  margin: auto;
  border: solid #00d1b2 1px;
}

#tagline {
  padding: 5px;
}

#to-hotel {
  margin: auto;
  width: 80%;
  padding: 10px;
}

#slider {
  padding: 10px;
  padding-bottom: 0px;
}

input[type='range'] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #00d1b2;
  background: #00d1b2;
  border-radius: 6px;
  border: 0px solid #00d1b2;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #00d1b2;
  border: 2px solid #00d1b2;
  height: 18px;
  width: 18px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #00d1b2;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #00d1b2;
  background: #00d1b2;
  border-radius: 6px;
  border: 0px solid #00d1b2;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #00d1b2;
  border: 2px solid #00d1b2;
  height: 18px;
  width: 18px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #00d1b2;
  border: 0px solid #00d1b2;
  border-radius: 12px;
  box-shadow: 0px 0px 0px #00d1b2;
}
input[type='range']::-ms-fill-upper {
  background: #00d1b2;
  border: 0px solid #00d1b2;
  border-radius: 12px;
  box-shadow: 0px 0px 0px #00d1b2;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #00d1b2;
  border: 2px solid #00d1b2;
  height: 18px;
  width: 18px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #00d1b2;
}
input[type='range']:focus::-ms-fill-upper {
  background: #00d1b2;
}

/* Flights Page */
#results-subtitle {
  margin: auto;
  padding-top: 25px;
}

#results {
  width: 100%;
}

/* Hotel Page */
#to-event {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.selected {
  border: 2px solid #00d1b2;
  border-radius: 10px;
}

/* Events Page */
#search-section {
  margin: auto;
  background-color: white;
  width: 40%;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
}

#event-search-button {
  margin: auto;
}

#event-result {
  border: 2px lightgray solid;
  border-radius: 25px;
}

#title {
  margin: auto;
  padding: 10px;
}

#finalRes {
  margin: auto;
  width: 80%;
  padding: 10px;
}

/* Final Page */
#finalBtn {
  margin: auto;
  width: 80%;
  padding: 10px;
}
.container:hover {
  border: 2px solid #00d1b2;
  border-radius: 10px;
  cursor: pointer;
}

#selected {
  border-style: solid;
}

.hotel {
  width: 100%;
}
